:root {
  --white: hsl(0, 0%, 100%);
  --lightGrey: hsla(270, 3%, 87%, 0.789);
  --darkGrey: hwb(175 91% 4% / 0.198);
  --darkViolet: hsl(260, 78%, 18%);
  --red: rgba(184, 0, 0, 1);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(./assets/images/bg-main-desktop.png);
  background-repeat: no-repeat;
  background-size: 40vw 100%;
}

.grid {
  margin: 0 auto;
  max-width: 1300px;
  width: 95vw;
  display: grid;
  grid-template-columns:
    minmax(3rem, 30rem) minmax(4rem, 15rem) minmax(5rem, 60rem)
    40%;
  grid-template-rows: repeat(2, auto);
  grid-template-areas: "card1 card1 . form" ". card2 card2 form";
  grid-gap: 2rem 0;
}

.card1 {
  grid-area: card1;
  aspect-ratio: 5 / 3;
  /* background-color: purple; */
  width: 100%;
  max-width: 600px;
  background-image: url(./assets/images/bg-card-front.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  align-self: end;
  display: grid;
  row-gap: 3rem;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr));
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "logo logo logo" "number number number" "name . expdate";
  padding: 1rem;
}

.card1__logo {
  grid-area: logo;
}

.card1__card-name,
.card1__card-number,
.card1__card-expdate {
  color: var(--white);
}

.card1__card-number {
  grid-area: number;
  letter-spacing: 0.4rem;
  padding: 0.2rem;
  font-size: 1.2rem;
  font-weight: 600;
  white-space: nowrap;
}

.card1__card-name {
  grid-area: name;
}

.card1__card-expdate {
  grid-area: expdate;
}

.card2 {
  grid-area: card2;
  aspect-ratio: 5 / 3;
  /* background-color: lightsteelblue; */
  width: 100%;
  max-width: 600px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 3rem;
  background-image: url(./assets/images/bg-card-back.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: var(--white);
}

#cvc {
  font-size: 1.4rem;
}

.form {
  grid-area: form;
  padding: 1rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 4rem;
  width: 100%;
  max-width: 1500px;
}

.form__inner-row {
  display: inline-flex;
  flex-direction: row;
  width: 100%;
}

.form__field {
  display: flex;
  flex-direction: column;
  padding: 1rem 0.5rem;
  width: 100%;
}

.form__field.small {
  width: 50%;
}

.form__field.small input {
  width: 70%;
}

label {
  letter-spacing: 0.2rem;
  color: var(--darkViolet);
  white-space: nowrap;
}

input {
  margin-top: 0.5rem;
  padding: 10px;
  border: 1px solid var(--lightGrey);
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

input:focus {
  border: solid 1px var(--darkViolet);
}

.form__submit-button {
  background-color: var(--darkViolet);
  color: var(--white);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  width: 100%;
}

.form__error-text {
  color: var(--red);
  font-size: 0.8rem;
  margin-top: 10px;
}

.form__submit-message {
  grid-area: form;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 3rem;
  margin-left: 5rem;
  max-width: 1200px;
  width: 100%;
}

.form__submit-message h2 {
  font-size: 25px;
}

.form__complete-button {
  background-color: var(--darkViolet);
  color: var(--white);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  width: 70%;
}

@media screen and (max-width: 700px) {
  body {
    background-image: url(./assets/images/bg-main-mobile.png);
    background-repeat: no-repeat;
    background-size: 100% 30%;
  }

  .grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: 50px;
    row-gap: 2rem;
    max-width: 600px;
  }

  .card1 {
    width: 100%;
    max-width: 400px;
    align-self: flex-start;
    justify-content: space-between;
    row-gap: 2rem;
    padding: 1rem;
    transform: translate(10%, 100%);
  }

  .card1__card-number {
    grid-area: number;
    letter-spacing: 0.2rem;
    padding: 0.1rem;
    font-size: 1rem;
    white-space: nowrap;
    font-weight: 600;
    padding: 1rem 0.5rem;
  }

  .card1__card-name,
  .card1__card-expdate {
    font-size: 0.8rem;
    width: 100%;
    max-width: 200px;
  }

  .card2 {
    min-height: 100%;
    max-width: 400px;
    align-self: flex-end;
    transform: translate(-20%, -90%);
    z-index: -1;
  }

  .form {
    margin: 0;
    max-width: 500px;
    margin-bottom: 300px;
  }

  .form__submit-message {
    margin: 0 0 300px 0;
  }
}
